html {
  color: #202629;
  line-height: 1.2em;
}
a {
  color: #202629;
  text-decoration: none;
}
fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}
.padded {
  padding: 1rem;
}
@media (min-width: 900px) {
  .padded {
    padding: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .padded {
    padding: 2rem;
  }
}
.font-small {
  font-size: 0.85rem;
}
body.with-overlay {
  overflow: hidden;
}
body.with-overlay .page-overlay {
  transform: translate(0, 0);
}
body.with-overlay .wrap {
  transform: translate(-10%, 0);
  transition: all, 0.1s ease-in-out;
}
@media (max-width: 1000px) {
  body.with-non-modal-overlay {
    overflow: hidden;
  }
  body.with-non-modal-overlay .page-overlay {
    transform: translate(0, 0);
  }
}
.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transform: translate(100%, 0);
  transition: all, 0.2s ease-in-out;
}
.page-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 110;
  overflow: hidden;
  transform: translate(150%, 0);
  transition: all, 0.3s ease-in-out;
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 30rem;
}
.page-panel.page-panel-nonmodal {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
@media (min-width: 900px) {
  .page-panel {
    left: auto;
    width: 50%;
  }
}
.page-panel > .inner {
  overflow: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
.page-panel > .inner > header {
  padding: 1rem;
  background: #f7f7f7;
  display: flex;
  align-items: center;
}
@media (min-width: 900px) {
  .page-panel > .inner > header {
    padding: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .page-panel > .inner > header {
    padding: 2rem;
  }
}
.page-panel > .inner > header > .icon {
  line-height: 0;
  margin-right: 0.6rem;
}
.page-panel > .inner > header > .icon svg {
  width: 1.4rem;
  height: 1.4rem;
}
.page-panel > .inner > header > .icon:hover svg {
  fill: #07D3A4;
}
.page-panel > .inner > header > .content {
  flex-grow: 1;
}
.page-panel > .inner > header > .content + .icon {
  margin-right: 0;
}
.page-panel > .inner > header h1 {
  font-size: 1.1rem;
  font-weight: 500;
}
.page-panel > .inner > header.subheader {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}
@media (min-width: 900px) {
  .page-panel > .inner > header.subheader {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .page-panel > .inner > header.subheader {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 900px) {
  .page-panel > .inner > header.subheader {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1000px) {
  .page-panel > .inner > header.subheader {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
  }
}
.page-panel > .inner > header.subheader > .icon {
  margin-right: 1rem;
  opacity: 0;
  transition: all, 0.2s ease-in-out;
  pointer-events: none;
}
.page-panel > .inner > header.subheader > .icon svg {
  width: 1rem;
  height: 1rem;
}
.page-panel > .inner > header.subheader > .icon.show {
  opacity: 1;
  pointer-events: auto;
}
.page-panel > .inner > header.subheader h1 {
  font-size: 1rem;
  font-weight: 500;
}
.page-panel > .inner fieldset {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 900px) {
  .page-panel > .inner fieldset {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .page-panel > .inner fieldset {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.page-panel > .inner .progress-bar {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.02);
  position: relative;
  z-index: 2;
}
.page-panel > .inner .overlay-panel-container {
  position: relative;
  flex-grow: 1;
  z-index: 1;
  overflow: hidden;
}
.page-panel > .inner .overlay-panel-scroll-container {
  position: relative;
  flex-grow: 1;
  z-index: 1;
  overflow: scroll;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 900px) {
  .page-panel > .inner .overlay-panel-scroll-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .page-panel > .inner .overlay-panel-scroll-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 900px) {
  .page-panel > .inner .overlay-panel-scroll-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .page-panel > .inner .overlay-panel-scroll-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
.page-panel > .inner .overlay-panel-scroll-container .inner {
  line-height: 1.6em;
}
.page-panel > .inner .overlay-panel-scroll-container .inner dl {
  margin: 0;
  padding: 0;
}
.page-panel > .inner .overlay-panel-scroll-container .inner dl dt {
  margin: 0 0 2rem 0;
  padding: 0;
  font-size: 1.6rem;
}
.page-panel > .inner .overlay-panel-scroll-container .inner dl dd {
  margin: 0;
  padding: 0;
  font-size: 0.85rem;
}
.page-panel > .inner hr {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #f5f5f5;
  height: 1px;
  border: 0;
}
@media (min-width: 900px) {
  .page-panel > .inner hr {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .page-panel > .inner hr {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
.page-panel.open {
  transform: translate(0, 0);
}
.page-panel .panel-subpanel {
  background: yellow;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 110;
  overflow: hidden;
  transform: translate(100%, 0);
  transition: all, 0.3s ease-in-out;
  width: 100%;
}
.page-panel .panel-subpanel > .inner {
  overflow: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
.page-panel .panel-subpanel > .inner > header {
  padding: 1rem;
  background: #f7f7f7;
  display: flex;
  align-items: center;
}
@media (min-width: 900px) {
  .page-panel .panel-subpanel > .inner > header {
    padding: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .page-panel .panel-subpanel > .inner > header {
    padding: 2rem;
  }
}
.page-panel .panel-subpanel > .inner > header > .icon {
  line-height: 0;
  margin-right: 0.6em;
}
.page-panel .panel-subpanel > .inner > header > .icon svg {
  width: 1.4rem;
  height: 1.4rem;
}
.page-panel .panel-subpanel > .inner > header > .icon:hover svg {
  fill: #07D3A4;
}
.page-panel .panel-subpanel > .inner > header h1 {
  font-size: 1.1rem;
  font-weight: 500;
}
.page-panel .panel-subpanel > .inner .progress-bar {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.02);
  position: relative;
  z-index: 2;
}
.page-panel .panel-subpanel > .inner .overlay-panel-container {
  position: relative;
  flex-grow: 1;
  z-index: 1;
}
.page-panel .panel-subpanel.open {
  transform: translate(0, 0);
}
.ui.progress-bar {
  padding: 1rem;
}
@media (min-width: 900px) {
  .ui.progress-bar {
    padding: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .ui.progress-bar {
    padding: 2rem;
  }
}
.ui.progress-bar .status {
  font-size: 0.85rem;
}
.ui.progress-bar .progress {
  margin-top: 1rem;
  background: #E4E4ED;
  position: relative;
  height: 0.6rem;
  border-radius: 2px;
}
.ui.progress-bar .progress .bar {
  position: absolute;
  left: 0;
  top: -1px;
  right: 75%;
  height: calc(100% + 2px);
  background: #36A9D3;
  border-radius: 5px;
  transition: all, 1s ease-in-out;
}
.ui.progress-bar .progress .bar span {
  display: none;
}
.ui.item-selector {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-basis: 100%;
}
.ui.item-selector ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ui.item-selector li {
  border-bottom: 1px solid #f5f5f5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.ui.item-selector li > .inner {
  display: flex;
  align-items: center;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}
@media (min-width: 900px) {
  .ui.item-selector li > .inner {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1000px) {
  .ui.item-selector li > .inner {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
  }
}
@media (min-width: 900px) {
  .ui.item-selector li > .inner {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .ui.item-selector li > .inner {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.ui.item-selector li > .inner .selected-indicator {
  position: relative;
  height: 1.6rem;
  width: 1.6rem;
  background: #dcdcdc;
  border-radius: 1em;
  margin-right: 0.6rem;
  flex-shrink: 0;
}
.ui.item-selector li > .inner .selected-indicator .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  line-height: 0;
  display: none;
}
.ui.item-selector li > .inner .selected-indicator .icon svg {
  height: 1rem;
  width: 1rem;
  fill: #fff;
}
.ui.item-selector li > .inner .selected-indicator.selected {
  background: #07D3A4;
}
.ui.item-selector li > .inner .selected-indicator.selected .icon {
  display: block;
}
.ui.item-selector li > .inner > header {
  display: flex;
  align-items: center;
}
.ui.item-selector li > .inner > .icon,
.ui.item-selector li > .inner > header > .icon {
  line-height: 0;
  margin-right: 0.6rem;
}
.ui.item-selector li > .inner > .icon svg,
.ui.item-selector li > .inner > header > .icon svg {
  width: 1em;
  height: 1em;
  fill: #818a8e;
}
.ui.item-selector li.select-all .inner {
  text-transform: uppercase;
  color: #07D3A4;
  font-size: 0.85rem;
  font-weight: 600;
}
.ui.item-selector li.with-meta .meta {
  font-size: 0.9rem;
  padding-bottom: 0.9rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: none;
}
@media (min-width: 900px) {
  .ui.item-selector li.with-meta .meta {
    padding-bottom: 1rem;
  }
}
@media (min-width: 1000px) {
  .ui.item-selector li.with-meta .meta {
    padding-bottom: 1.1rem;
  }
}
@media (min-width: 900px) {
  .ui.item-selector li.with-meta .meta {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .ui.item-selector li.with-meta .meta {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.ui.item-selector li.with-meta .meta > .inner {
  padding-left: 3.8rem;
}
.ui.item-selector li.with-meta .meta.show {
  display: block;
}
.ui.autocomplete {
  position: relative;
}
.ui.autocomplete .results {
  position: absolute;
  top: 0;
  list-style: none;
  margin: 0;
  left: 0;
  right: 0;
  padding: 0.8rem;
  background: #fff;
  z-index: 1;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.04);
}
@media (min-width: 900px) {
  .ui.autocomplete .results {
    padding: 1rem;
  }
}
@media (min-width: 1000px) {
  .ui.autocomplete .results {
    padding: 1rem;
  }
}
.ui.autocomplete .results .result {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
@media (min-width: 900px) {
  .ui.autocomplete .results .result {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 1000px) {
  .ui.autocomplete .results .result {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
}
.options {
  text-align: center;
}
.options.open {
  z-index: 2 !important;
}
.options .options-list {
  text-align: left;
  background: white;
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  z-index: 2;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.02);
  transform: translate(0, 5px);
}
.options .options-list.open {
  display: block;
}
.options .options-list ul,
.options .options-list li {
  list-style: none;
  margin: 0;
}
.options .options-list li > a {
  display: flex;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  white-space: nowrap;
}
@media (min-width: 900px) {
  .options .options-list li > a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 1000px) {
  .options .options-list li > a {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
}
.options .options-list li > a .icon {
  margin-right: 1rem;
  align-self: center;
}
.options .options-list li > a .icon svg {
  fill: #07D3A4;
  height: 1em;
  width: 1em;
}
.options .options-list ul {
  padding: 1rem;
}
@media (min-width: 900px) {
  .options .options-list ul {
    padding: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .options .options-list ul {
    padding: 2rem;
  }
}
.options .options-list header {
  display: none;
}
.field .proto-dropdown {
  display: flex;
  align-items: center;
  background: #F7F7F7;
  position: relative;
}
.field .proto-dropdown input[type="text"] {
  position: relative;
}
.field .proto-dropdown .input-wrap {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.field .proto-dropdown .input-wrap input {
  flex-grow: 1;
}
.field .proto-dropdown .input-wrap .icon {
  width: 0.6rem;
  height: 0.6rem;
  display: block;
  padding-left: 1rem;
  line-height: 0;
}
.field .proto-dropdown .input-wrap .icon svg {
  width: 0.6rem;
  height: 0.6rem;
  transition: all, 0.1s ease-in-out;
}
.field .proto-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  z-index: 1000;
  padding: 1rem 0;
  margin: 0;
  width: 100%;
  max-height: 350px;
  min-width: 160px;
  overflow-y: auto;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.04);
  border-top-style: none;
  border-radius: 0 0 4px 4px;
  text-align: left;
  list-style: none;
  background: #fff;
}
.field .proto-dropdown .dropdown-menu li {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  cursor: pointer;
}
@media (min-width: 900px) {
  .field .proto-dropdown .dropdown-menu li {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 1000px) {
  .field .proto-dropdown .dropdown-menu li {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.field .proto-dropdown .dropdown-menu li:hover {
  background: #F7F7F7;
}
.field .proto-dropdown > .icon {
  width: 1rem;
  height: 1rem;
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
}
.field .proto-dropdown > .icon svg {
  width: 1rem;
  height: 1rem;
  transform: rotate(-90deg);
  transition: all, 0.1s ease-in-out;
}
.field .proto-dropdown.open .dropdown-menu {
  display: block;
}
.field .proto-dropdown.open > .icon svg {
  transform: rotate(90deg);
}
.vs__dropdown-toggle {
  width: 100%;
  background: #F7F7F7;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  border-radius: 0;
  padding: 0.8rem;
}
@media (min-width: 900px) {
  .vs__dropdown-toggle {
    padding: 1rem;
  }
}
@media (min-width: 1000px) {
  .vs__dropdown-toggle {
    padding: 1rem;
  }
}
.vs__selected-options {
  padding: 0;
}
.vs__search,
.vs__search:focus {
  padding: 0;
  margin: 0;
}
.vs--single.vs--open,
.vs__selected {
  padding: 0;
  margin: 0;
}
.folder-items.animate-folder-enter-active {
  transition: all 0.3s ease;
}
.folder-items.animate-folder-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.folder-items.animate-folder-enter,
.folder-items.animate-folder-leave-to {
  transform: translate(100%, 0);
}
.folder-items {
  transform: translate(0, 0);
}
.ui.ptags {
  display: flex;
  flex-wrap: wrap;
}
.ui.ptags .ptag {
  display: inline-block;
  border: 1px solid #dcdcdc;
  padding: 0.3em 0.7em;
  border-radius: 1em;
  white-space: nowrap;
  margin-right: 0.3rem;
  margin-bottom: 0.4rem;
}
.ui.ptags .ptag .inner {
  display: flex;
  align-items: center;
}
.ui.ptags .ptag .remove {
  margin-left: 0.4rem;
  line-height: 0;
}
.ui.ptags .ptag .remove svg {
  width: 0.6em;
  height: 1em;
}
.ui.ptags .ptag:hover {
  background: #e8e8e8;
}
.ui.ptags .ptag.creator {
  border-style: dashed;
  border-color: #07D3A4;
  color: #07D3A4;
}
.ui.ptags .ptag.creator.hide {
  display: none;
}
.ui.ptags .ptag.creator .new-tag {
  height: 1em;
  padding: 0;
  border: none;
  transition: none;
}
.ui.ptags .ptag.creator .new-tag:focus {
  border: none;
}
.ui.ptags .ptag.creator .add {
  margin-right: 0.4rem;
  line-height: 0;
}
.ui.ptags .ptag.creator .add svg {
  width: 0.6em;
  height: 1em;
  fill: #07D3A4;
}
.ui.ptags .ptag.creator:hover {
  background: #07D3A4;
  color: #fff;
}
.ui.ptags .ptag.creator:hover .add svg {
  fill: #fff;
}
.ui.ptags .ptag.creating {
  border-style: dashed;
  background: #fff;
  display: none;
}
.ui.ptags .ptag.creating.show {
  display: inline-block;
}
.ui.ptags .ptag.creating .new-tag {
  height: 1em;
  padding: 0;
  border: none;
  transition: none;
  background: #fff;
}
.ui.ptags .ptag.creating .new-tag:focus {
  border: none;
}
.ui.ptags .ptag.creating .add {
  margin-left: 0.4rem;
}
.ui.ptags .ptag.creating .add svg {
  width: 0.6em;
  height: 1em;
  fill: #07D3A4;
}
.wrap > header {
  padding: 1rem;
  background: #fff;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 900px) {
  .wrap > header {
    padding: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .wrap > header {
    padding: 2rem;
  }
}
@media (min-width: 1000px) {
  .wrap > header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.page {
  background: #FAFAFD;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1000px) {
  .page {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1000px) {
  .page {
    padding-top: 2rem;
    display: flex;
  }
}
@media (min-width: 1000px) {
  .page > main {
    flex-grow: 1;
  }
}
.page > aside {
  display: none;
  max-width: 350px;
}
.page > aside .notification {
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.02);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
@media (min-width: 900px) {
  .page > aside .notification {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .page > aside .notification {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 900px) {
  .page > aside .notification {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 1000px) {
  .page > aside .notification {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.page > aside .notification > fieldset:last-child {
  padding-bottom: 0;
}
.page > aside .notification header {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.4em;
}
.page > aside:first-child {
  padding-right: 4rem;
  font-size: 0.85rem;
  width: 200px;
}
.page > aside:first-child nav .sidebar__inner {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 900px) {
  .page > aside:first-child nav .sidebar__inner {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .page > aside:first-child nav .sidebar__inner {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.page > aside:first-child ul,
.page > aside:first-child li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page > aside:first-child header {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 600;
}
.page > aside:first-child ul {
  margin-bottom: 2rem;
}
.page > aside:first-child ul li {
  line-height: 1.2em;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.page > aside:first-child ul li.header {
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-weight: 600;
}
.page > aside:first-child ul li.header:first-child {
  margin-top: 0;
}
@media (min-width: 1000px) {
  .page > aside:first-child {
    display: block;
  }
}
.page > aside:last-child {
  padding-left: 2rem;
  flex-basis: 300px;
}
@media (min-width: 1200px) {
  .page > aside:last-child {
    display: block;
  }
}
fieldset.section,
section.fieldset {
  padding-bottom: 3rem;
  background: #fff;
}
@media (min-width: 1000px) {
  fieldset.section,
  section.fieldset {
    padding-bottom: 2rem;
    margin-bottom: 4rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.02);
  }
  fieldset.section.buttons,
  section.fieldset.buttons {
    background: none;
    box-shadow: none;
  }
}
fieldset.section.no-header,
section.fieldset.no-header {
  padding-top: 2rem;
}
.field,
fieldset > header {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 900px) {
  .field,
  fieldset > header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .field,
  fieldset > header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.field {
  margin-bottom: 1.3rem;
}
.field .subject {
  margin-bottom: 0.4em;
}
.field .meta {
  font-size: 0.85em;
}
.field > label {
  display: block;
  font-weight: 600;
  padding-bottom: 0.3rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}
.field > label > .icon {
  line-height: 0;
  margin-left: 0.6rem;
  opacity: 0.5;
}
.field > label > .icon svg {
  width: 0.9rem;
  height: 0.9rem;
}
.field > label > .icon:hover {
  opacity: 1;
}
.field > label > .icon:hover svg {
  fill: #07D3A4;
}
.field > label .field-details {
  display: none;
}
.field input[type="text"],
.field textarea,
.field .formatted-meta {
  padding: 0.8rem;
}
@media (min-width: 900px) {
  .field input[type="text"],
  .field textarea,
  .field .formatted-meta {
    padding: 1rem;
  }
}
@media (min-width: 1000px) {
  .field input[type="text"],
  .field textarea,
  .field .formatted-meta {
    padding: 1rem;
  }
}
.field .formatted-meta {
  background: lightyellow;
  border: 1px solid #f5f5f5;
}
.field .field-wrapper .item,
.field .collection .item,
.field .collection .details {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f5f5f5;
}
.field .field-wrapper .item:last-of-type,
.field .collection .item:last-of-type,
.field .collection .details:last-of-type {
  border-bottom: 0;
}
.field .field-wrapper .item:first-child,
.field .collection .item:first-child,
.field .collection .details:first-child,
.field .field-wrapper .item.first-child,
.field .collection .item.first-child,
.field .collection .details.first-child {
  padding-top: 0;
}
.field .field-wrapper .item:last-child,
.field .collection .item:last-child,
.field .collection .details:last-child,
.field .field-wrapper .item.last-child,
.field .collection .item.last-child,
.field .collection .details.last-child {
  padding-bottom: 0;
}
.field .field-wrapper,
.field .collection {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}
@media (min-width: 900px) {
  .field .field-wrapper,
  .field .collection {
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
  }
}
@media (min-width: 1000px) {
  .field .field-wrapper,
  .field .collection {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.field .collection .item .ui,
.field .collection .details .ui,
.field .field-wrapper .item .ui {
  margin: 0.6rem 0;
}
.field .collection .item .ui:last-child,
.field .collection .details .ui:last-child,
.field .field-wrapper .item .ui:last-child {
  margin-bottom: 0;
}
.field .field-wrapper .item,
.field .collection .item,
.field .collection > .details > .inner {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
@media (min-width: 900px) {
  .field .field-wrapper .item,
  .field .collection .item,
  .field .collection > .details > .inner {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 1000px) {
  .field .field-wrapper .item,
  .field .collection .item,
  .field .collection > .details > .inner {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.field input[type="text"],
.field textarea,
.field .collection,
.field .field-wrapper {
  box-sizing: border-box;
  display: block;
  width: 100%;
  background: #F7F7F7;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  position: relative;
  transition: border-color, 0.5s ease-in-out;
}
.field input[type="text"]:focus,
.field textarea:focus,
.field .collection:focus,
.field .field-wrapper:focus {
  outline: none;
  border-bottom: 1px solid #36A9D3;
}
.field input[type="text"]:after,
.field textarea:after,
.field .collection:after,
.field .field-wrapper:after {
  position: absolute;
  display: block;
  content: '';
  height: 2px;
  width: 100%;
  top: 100%;
  left: 0;
}
.field .field-wrapper {
  border-bottom: none;
}
.field textarea {
  height: 12em;
  min-height: 8em;
  max-height: 24em;
}
.field .ui input[type="checkbox"].important {
  border-color: #07D3A4;
}
.field .ui.inline {
  display: flex;
  align-items: center;
}
.field .ui.inline input[type="checkbox"] {
  margin-right: 0.8rem;
}
.field .ui.inline label {
  font-weight: normal;
}
.field .collection {
  border-bottom: none;
  position: relative;
}
.field .collection > ul,
.field .collection > ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.field .collection .item {
  display: flex;
  align-items: center;
}
.field .collection .item > .icon {
  margin-right: 0.8rem;
}
.field .collection .item .icon {
  line-height: 0;
  align-self: flex-start;
}
.field .collection .item .icon svg {
  width: 1em;
  height: 1em;
  fill: #818a8e;
}
.field .collection .item .main {
  flex-grow: 1;
}
.field .collection .item .options {
  flex-basis: 2rem;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  position: relative;
}
.field .collection .item .options .options-list li > a .icon svg {
  fill: #07D3A4;
}
.field .collection > .details {
  border-top: 1px solid #fff;
}
.field .collection > .details header {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 0.8rem;
}
.field .collection.expandable item:last-of-type {
  border-bottom: 1px solid #f5f5f5;
}
.field .collection .selector {
  position: absolute;
  top: 0;
  right: 0.8rem;
  transform: translate(0, -50%);
  z-index: 1;
}
@media (min-width: 900px) {
  .field .collection .selector {
    right: 1rem;
  }
}
@media (min-width: 1000px) {
  .field .collection .selector {
    right: 1rem;
  }
}
.field .collection .selector .selector-button {
  background: #07D3A4;
  display: block;
  width: 2rem;
  height: 2rem;
  line-height: 0;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-weight: 600;
  transition: all, 0.1s ease-in-out;
}
.field .collection .selector .selector-button .icon svg {
  transition: all, 0.2s ease-in-out;
  transition-delay: 0.1s;
  width: 0.9rem;
  height: 2rem;
  fill: #fff;
}
.field .collection .selector .selector-button:hover {
  background: #07c99d;
  transform: scale(1.1);
}
.field .collection.single-item .item {
  border-bottom: none;
}
.field .hint {
  font-size: 0.7rem;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 1.2em;
}
fieldset > header {
  display: flex;
  color: #fff;
  background: #272C3E;
  margin-bottom: 1rem;
  padding-top: 0.45454545rem;
  padding-bottom: 0.45454545rem;
}
fieldset > header legend {
  flex-grow: 1;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  display: block;
}
fieldset > header .note {
  font-size: 0.7rem;
  line-height: 0.8rem;
}
@media (min-width: 1000px) {
  fieldset > header {
    background: #fff;
    color: #272C3E;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 2rem;
  }
  fieldset > header legend {
    font-size: 1.1rem;
  }
}
.icon .name {
  display: none;
}
.buttons .btn,
.buttons-aside .btn {
  display: block;
  border: 1px solid #07D3A4;
  background: #07D3A4;
  color: #fff;
  padding: 1rem;
  text-align: center;
  transition: all, 0.2s ease-in-out;
  margin-bottom: 0.6rem;
}
.buttons .btn.secondary,
.buttons-aside .btn.secondary {
  color: #07D3A4;
  background: none;
}
.buttons .btn:hover,
.buttons-aside .btn:hover {
  background: #07c99d;
  color: #fff;
}
.buttons .btn:hover.secondary,
.buttons-aside .btn:hover.secondary {
  background: #07D3A4;
}
.buttons {
  display: flex;
}
.buttons .btn {
  margin-left: 0.6rem;
  flex-basis: 50%;
}
.buttons .btn:first-child {
  margin-left: 0;
}
.buttons-aside {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 900px) {
  .buttons-aside {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .buttons-aside {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.buttons-aside .btn {
  flex-basis: 100%;
}
.page {
  transition: all, 0.5s ease-in-out;
}
.page.hide {
  opacity: 0;
  transform: translate(-10%, 0);
}
.page.remove {
  display: none;
}
.page-summary {
  display: none;
  opacity: 0;
  transform: translate(10%, 0);
}
.page-summary.show {
  opacity: 1;
  transform: translate(0, 0);
}
.page-summary.add {
  display: block;
}
@media (min-width: 1000px) {
  .page-summary.add {
    display: flex;
  }
}
.page-summary main section.fieldset {
  margin-bottom: 3rem;
}
@media (min-height: 600px) {
  .page-summary main section.fieldset {
    margin-bottom: 5rem;
  }
}
.page-summary main section.fieldset .field {
  margin-bottom: 3rem;
  min-height: 1rem;
}
.page-summary main section.fieldset .field:last-child {
  margin-bottom: 0;
}
.page-summary main section.fieldset p,
.page-summary main section.fieldset h2 {
  margin: 0;
}
.page-summary main section.fieldset .label {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  font-weight: 500;
  background: #f5f5f5;
  display: inline-block;
  padding: 0.2rem 1rem;
  margin-bottom: 1.2rem;
}
@media (min-width: 1000px) {
  .page-summary main {
    margin-left: 15rem;
  }
  .page-summary main section.fieldset {
    margin-bottom: 4rem;
  }
  .page-summary main section.fieldset .field {
    position: relative;
  }
  .page-summary main section.fieldset .field:last-child {
    margin-bottom: 0;
  }
  .page-summary main section.fieldset .p,
  .page-summary main section.fieldset h2 {
    margin: 0;
  }
  .page-summary main section.fieldset .label {
    font-size: 0.9rem;
    position: absolute;
    max-width: 14rem;
    top: 0;
    right: 100%;
    margin: 0;
    margin-right: 1rem;
    padding-bottom: 0;
    text-transform: none;
    letter-spacing: 0;
    color: #272C3E;
    font-weight: 600;
    background: none;
    padding: 0;
    width: 100%;
    text-align: right;
  }
}
.collection.collection-summary {
  padding: 0;
  background: none;
}
.collection.collection-summary .item {
  padding-left: 0;
  padding-right: 0;
}
.collection.collection-summary > .details {
  border-top: 1px solid #f5f5f5;
}
.collection.collection-summary > .details > .inner {
  padding-left: 0;
  padding-right: 0;
}
.collection.collection-summary > .details > .inner header {
  margin-bottom: 1rem;
}
html {
  box-sizing: border-box;
  font-size: 94%;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.tselected {
  background: yellowgreen;
}
/*# sourceMappingURL=main.css.map */